{# index.twig #}
{% set page = 'terms' %}
{% extends "_layout.twig" %}

{% block page %}

<section class="banner banner-blue">
	<div class="container">
		<h1>Terms of Use</h1>
	</div>
</section>
<section class="info-block">
	<div class="container">
		<div class="info-box info-box--big">
			<p>Please read the following information before proceeding. By accessing this website and any pages thereof, you acknowledge that you have read the following information and accept the terms set out below and on the relevant pages of this website, and agree to be bound by such terms. If you do not agree to such terms below, do not access this website, or any pages thereof.</p>
			<h3>Disclaimer</h3>
			<p>This webpage is for information only and does not constitute any finance advice or any offer or solicitation to buy or sell. KVB Interactive Limited (“KVB”) strongly recommends you seek independent advice before acting on any information on this website.</p>
			<p>Although best effort has been taken to ensure that the information provided on this website is accurate KVB does not warrant or guarantee the accuracy, completeness, timeliness or suitability of the information and materials found on this website for any particular purpose.</p>
			<p>Information contained herein are subject to change without prior notice.</p>
			<p>KVB does not accept any liability any loss or damage directly or indirectly arising from any information contained on this website to the fullest extent permitted by law.</p>
			<p>Data transmission over the internet can never be guaranteed as completely secure. KVB cannot ensure the security of information transmitted over the internet, either from you or to you.</p>
			<h3>Website Links</h3>
			<p>Our site may contain links to other websites that are not controlled or monitored by KVB. These websites are provided for your convenience only to provide further information. It does not imply our agreement to or endorsement of any of the information contained on the third party site, and KVB does not assume any responsibility for the third party website contents nor liability in respect of any loss or damage directly or indirectly arising from any use of a third party link on our website.</p>
			<p>If you wish to link our website to yours, permission from us must be sought and granted before doing so. If you link our website to yours, you must remove the link should we request you to do so. If you create a link to our website, you acknowledge that you are fully responsible for all direct or indirect consequences of that link, and you indemnify KVB against all costs, loss, damage, liability or expense arising from such link.</p>
			<h3>Copyright</h3>
			<p>The designs, logos and contents on this website are owned by KVB Interactive Limited and its associated companies. You may reproduce materials on our website solely for the purpose of viewing the website. The permission to reproduce excludes any content or material on this website that is indicated as being owned by a third party, unless you have their permission to do so. </p>
			<h3>Jurisdiction</h3>
			<p>The use of this website is governed by the laws of New Zealand, and any disputes arising out of the same shall be resolved by the exclusive jurisdiction of the Courts of New Zealand.</p>
			<h3>Other Information</h3>
			<p>Please refer to the Privacy Policy for more information on how we protect your privacy and comply with New Zealand Privacy Act. </p>
		</div>
	</div>
</section>
{% endblock %}