{# index.twig #}
{% set page = 'faq' %}
{% extends "_layout.twig" %}

{% block page %}

<section class="banner banner-blue" style="background-image: url(assets/images/img23.jpg);">
	<div class="container">
		<h1>FAQs</h1>
	</div>
</section>
<section class="info-block">
	<div class="container">
		<div class="info-box">
			<ul class="accordion">
				<li>
					<a href="#" class="opener">How do I apply for a loan?</a>
					<div class="slide">
						<p>To get your application a, you can either simply make an online enquiry by completing Enquiry Form under Personal Finance or Business Finance section, or call us on xxxx xxx xxx.</p>
					</div>
				</li>
				<li>
					<a href="#" class="opener">How much can I borrow?</a>
					<div class="slide">
						<p>To get your application a, you can either simply make an online enquiry by completing Enquiry Form under Personal Finance or Business Finance section, or call us on xxxx xxx xxx.</p>
					</div>
				</li>
				<li>
					<a href="#" class="opener">Who do you lend to?</a>
					<div class="slide">
						<p>To get your application a, you can either simply make an online enquiry by completing Enquiry Form under Personal Finance or Business Finance section, or call us on xxxx xxx xxx.</p>
					</div>
				</li>
				<li>
					<a href="#" class="opener">How long does it take to get an answer on my application?</a>
					<div class="slide">
						<p>To get your application a, you can either simply make an online enquiry by completing Enquiry Form under Personal Finance or Business Finance section, or call us on xxxx xxx xxx.</p>
					</div>
				</li>
				<li>
					<a href="#" class="opener">Can I change the loan amount after it’s approved?</a>
					<div class="slide">
						<p>To get your application a, you can either simply make an online enquiry by completing Enquiry Form under Personal Finance or Business Finance section, or call us on xxxx xxx xxx.</p>
					</div>
				</li>
				<li>
					<a href="#" class="opener">What will the Interest Rate and Loan Term be?</a>
					<div class="slide">
						<p>To get your application a, you can either simply make an online enquiry by completing Enquiry Form under Personal Finance or Business Finance section, or call us on xxxx xxx xxx.</p>
					</div>
				</li>
				<li>
					<a href="#" class="opener">Can I repay the lon in full early?</a>
					<div class="slide">
						<p>To get your application a, you can either simply make an online enquiry by completing Enquiry Form under Personal Finance or Business Finance section, or call us on xxxx xxx xxx.</p>
					</div>
				</li>
				<li>
					<a href="#" class="opener">Do I need to have security for my loan?</a>
					<div class="slide">
						<p>To get your application a, you can either simply make an online enquiry by completing Enquiry Form under Personal Finance or Business Finance section, or call us on xxxx xxx xxx.</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
{% endblock %}