
body {
	@include media('>=desktop') {
		font-size: 18px;
		line-height: 28px;
	}
}

#wrapper {
	position: relative;
	overflow: hidden;
}


img {
	vertical-align: top;
	border: none;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	outline: none;
	@include animate(color background border box-shadow opacity visibility);
}

.container {
	@extend %clearfix;
	padding: 0 30px;
	margin: 0 auto;
	max-width: 1180px;
	width: auto;

	@include media('>=tablet') {
		width: auto;
		padding: 0 15px; 
	}

	@include media('>=desktop') {
		width: auto;
	}

	@include media('>=widescreen') {
		width: auto;
	}
}

.banner {
	padding: 113px 0 133px;
	text-align: center;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	color: $white;

	&.banner-blue {
		background: $blue;
	}

	@include media('>=tablet') {
		padding: 196px 0 250px;
	}

	@include media('>=desktop') {
		padding: 300px 0 310px;
	}	

	h1 {
		color: $white;
		margin: 0 0 13px;
	}
}

.carousel {

	.slide {
		padding: 113px 0 133px;
		text-align: center;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;

		@include media('>=tablet') {
			padding: 196px 0 250px;
		}

		@include media('>=desktop') {
			padding: 300px 0 310px;
		}


	}

	.container {
		width: 100%;
	}

	h1 {
		color: $white;
	}
}


h1 {
	font-weight: 300;
	font-size: 44px;
	line-height: 44px;


	@include media('>=tablet') {
		font-size: 45px;
		line-height: 55px;
	}

	@include media('>=desktop') {
		font-size: 68px;
		line-height: 70px;
		font-weight: 300;
	}
}



h2 {
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 23px;
	font-weight: 300;
	color: #4A4A4A;


	@include media('>=tablet') {
		font-size: 35px;
		line-height: 40px;
		margin: 0 0 36px;
	}

	@include media('>=desktop') {
		font-size: 40px;
		line-height: 48px;
	}
}

.btn-arrow,
.btn-primary {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	display: inline-block;
	vertical-align: top;
	padding: 17px 20px 17px 27px;
	font-family: $roboto;

	@include media('>=desktop') {
		font-size: 20px;
		line-height: 28px;
		padding: 28px 31px 32px 62px;
	}

	.icon-half-arrow {
		font-size: 8px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 14px;

		@include media('>=desktop') {
			font-size: 13px;
			margin-left: 20px;
		}
	}

	&:hover,
	&:focus {
		background: $light-blue;
		color: $white;
	}
}

.back-to-top {
	@include size(28px);
	background: rgba(28, 104, 165, 0.9);
	color: $white;
	display: block;
	text-align: center;
	line-height: 28px;
	position: fixed;
	bottom: 128px;
	right: 12px;
	font-size: 13px;
	z-index: 99;

	@include media('>=desktop') {
		display: none;
	}

	&:hover {
		background: darken($blue,10%);
	}
}


#wrapper {
	&:before {
		content: '';
		background: rgba(74,74,74,0.9);
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 10;
		opacity: 0;
		visibility: hidden;
		@include animate(opacity visibility);
	}
}

.nav-active {

	#wrapper {
		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
}

.btn-white {
	border: 1px solid $white;
	color: $white;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	display: inline-block;
	vertical-align: top;
	padding: 12px 23px ;

	@include media('>=tablet') {
		padding: 14px 50px;
	}


	@include media('>=desktop') {
		font-size: 20px;
		line-height: 30px;
		padding: 14px 97px;
	}

	&:hover,
	&:focus {
		background: $white;
		color: $gray;
		display: inline-block;
		vertical-align: top;
	}
}

.btn-download {
	border: 1px solid $blue;
	color: $blue;
	background: $white;
	padding: 6px 15px;
	@include display;


	@include media('>=desktop') {
		@include font(20px,28px);
		font-weight: 700;
		padding: 8px 25px;
	}

	@include media('>=widescreen') {
		padding: 10px 21px;
	}

	.icon-download {
		@include display(middle);
		margin-left: 5px;
		margin-top: -2px;

		@include media('>=desktop') {
			margin-left: 25px;
		}
	}

	&:hover,
	&:focus  {
		background: $blue;
		color: $white;

	}
}

main {
	ul:not([class]) {
		@extend %listreset;
		margin-bottom: 0px;

		li {
			position: relative;
			padding-left: 26px;

			@include media('>=desktop') {
				margin-left: 30px;
				position: relative;
			}

			&:before {
				content: '';
				@include size(4px);
				border-radius: 50%;
				background: $gray;
				position: absolute;
				left: 0;
				top: 11px;
			}
		}
	}
}

.form {
	border: 1px solid #D0D0D0;
	position: relative;


	.row {
		margin: 0;

		[class*='col-'],
		[class^='col-'] {
			padding: 0;
		}
	}

	.form-group {
		margin: 0;
	}

	.col-md-6 {
		&:nth-child(2n+1) {

			@include media('>=tablet') {
				position: relative;

				&:before {
					content: '';
					position: absolute;
					background: #D0D0D0;
					right: 0;
					top: 0;
					bottom: 0;
					width: 1px;
				}
			}
		}
	}

	.btn-primary {
		position: absolute;
		top: 100%;
		right: -1px;

		span {
			@include media('>=desktop') {
				margin-left: 100px;
			}

			@include media('>=widescreen') {
				margin-left: 253px;
			}
		}

		@include media('>=desktop') {
			padding: 27px 40px 32px 51px;
		}
	}
}

.form-control {
	height: 50px;
	font-family: $roboto;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #D0D0D0;
	color: #8B8B8B;
	opacity: 1;

	@include media('>=desktop') {
		height: 62px;
		padding: 0.5rem 20px;
		@include font(18px,28px);
	}

	&:focus {
		border-color: #D0D0D0	;
	}

	@include placeholder {
		color: #8B8B8B;
		opacity: 0.5;
	}
}

textarea.form-control {
	resize: none;
	overflow: auto;
	height: 200px;

	@include media('>=desktop') {
		padding: 14px 20px;
	}

	@include media('>=desktop') {
		height: 270px;
	}
}



.btn-add {
	border: 1px solid #D0D0D0;
	font-weight: 700;
	@include font(18px,26px);
	display: block;
	padding: 10px 15px;
	text-align: center;
	margin-bottom: 10px;

	@include media('>=tablet') {
		padding: 15px 15px;
	}

	.icon-plus-circle {
		display: inline-block;
		vertical-align: middle;

		@include media('>=desktop') {
			margin-left: 11px;
		}
	}

	@include media('>=desktop') {
		@include font(20px,28px);
		font-weight: 700;
		padding: 15px 15px;
		margin-bottom: 20px;
	}

	&:hover,
	&:focus {
		color: $white;
		background: $blue;
		border-color: transparent;
	}
}