<a href="#wrapper" class="back-to-top"><span class="icon-arrow-up"></span></a>
<footer id="footer" {% if (page == "index") or (page == "about") %} class="footer"{% endif %}>
	<div class="footer-area">
		<div class="container">
			<ul class="footer-nav">
				<li><a href="aboutus.html">About Us</a></li>
				<li><a href="personal_finance.html">Personal Finance</a></li>
				<li><a href="business_finance.html">Business Finance</a></li>
				<li><a href="faq.html">FAQs</a></li>
				<li><a href="contactus.html">Conact Us</a></li>
			</ul>
		</div>
	</div>
	<div class="footer-block">
		<div class="container">
			<ul class="footer-list">
				<li><a href="disclaimer.html">Disclaimer</a></li>
				<li><a href="privacy.html">Pravicy Policy</a></li>
			</ul>
			<span class="copyright">&copy; <a href="index.html">KVB Kunlun Global Capital Limited</a>. </span>
		</div>
	</div>
</footer>