<header id="header">
	<div class="container">
		<div class="logo">
			<a href="index.html"><img src="assets/images/logo.png" alt="KVB"></a>
		</div>
		<nav id="nav">
			<a href="#" class="nav-opener"><span class="icon-bar"></span></a>
			<a href="#" class="nav-opener nav-close"><span class="icon-close"></span></a>
			<div class="nav-drop">
				<ul>
					<li {% if page == "about" %} class="active"{% endif %}><a href="aboutus.html">About Us</a></li>
					<li {% if page == "personal-finance" %} class="active"{% endif %}><a href="personal_finance.html">Personal Finance</a></li>
					<li {% if page == "business-finance" %} class="active"{% endif %}><a href="business_finance.html">Business Finance</a></li>
					<li {% if page == "faq" %} class="active"{% endif %}><a href="faq.html">FAQs</a></li>
					<li {% if page == "contact" %} class="active"{% endif %}><a href="contactus.html">Conact Us</a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>